    body{
        font-family: Arial;
        background-color: rgb(25, 25, 25);
        color: white;
    }
    button{
        font-family: Roboto,Arial;
        background-color: rgb(228, 228, 228);
        border-width: 1px;
        margin: 3px;
        font-size: 19px;
    }
    .move-icon{
        height: 50px;
        
    }
    .move-button{
        background-color: transparent;
        border: 3px solid white;
        width: 120px;
        height: 120px;
        border-radius: 60px;margin-right: 10px;
        cursor: pointer;
    }
    .result{
        font-size: 25px;
        margin-top: 50px;
        font-weight: bold;
    }
    .score{
        margin-top: 50px;
    }
    .reset-button{
        padding: 8px 12px;
        border: none;
        font-weight: 100;
        cursor: pointer;
        font-size: 16px;
        background-color: white;
    }